body {
    background-color: rgb(165, 164, 164);
}

.abc>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    text-align: justify;
}

.abc>h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 340%;
    color: yellow;
    text-shadow: black 3px 3px 2px;
}

.abc>h1:hover {
    color: rgba(133, 8, 250, 0.966);
}

.abc>p::first-letter {
    color: rgb(7, 129, 89);
}

.abc>p::first-line {
    color: rgb(37, 143, 143);
}

.abc>p::first-letter {
    font-size: 230%;
    font-weight: 900;
}

.abc>p::first-line {
    font-style: italic;
}

a:link {
    color: rgb(11, 11, 231);
    text-decoration: none;
}

#sufyan {
    color: darkblue;
}

a:visited {
    color: purple;
}

#sufyan:visited {
    color: purple;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

#ayan {
    color: darkblue;
}

#ayan::first-line {
    color: rgb(54, 100, 184);
    font-size: larger;
}

#ayan::first-letter {
    color: rgb(5, 82, 224);
    font-style: italic;
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;
}

#sufyan:hover {
    color: gold;
    text-decoration: underline;
}

center {
    color: rgb(139, 14, 14);
}

center:hover {
    color: blueviolet;
}

.abc>center {
    text-shadow: black 1px 1px 2px;
}